<a href="https://colab.research.google.com/github/inggolanda/Galery_Data_Analyst_Project/blob/main/NYC_AirBnB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Menghubungkan ke Google Drive**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Dataset NYC AirBnB**

In [ ]:
df = pd.read_excel ("/content/drive/My Drive/Dataset/NYC_AirBnB.xlsx")
df.head(10)

,listing_id,description,room_type,price,neighborhood_full,host_name,last_review
0,2595.0,Skylit Midtown Castle,entire home/apt,225 dollars,"Manhattan, Midtown",Jennifer,2021-05-21
1,3831.0,Cozy Entire Floor of Brownstone,entire home/apt,89 dollars,"Brooklyn, Clinton Hill",LisaRoxanne,2021-07-05
2,5099.0,Large Cozy 1 BR Apartment In Midtown East,entire home/apt,200 dollars,"Manhattan, Murray Hill",Chris,2021-06-22
3,5178.0,Large Furnished Room Near B'way,private room,79 dollars,"Manhattan, Hell's Kitchen",Shunichi,2021-06-24
4,5238.0,Cute & Cozy Lower East Side 1 bdrm,entire home/apt,150 dollars,"Manhattan, Chinatown",Ben,2021-06-09
5,5295.0,Beautiful 1br on Upper West Side,entire home/apt,135 dollars,"Manhattan, Upper West Side",Lena,2021-06-22
6,5441.0,Central Manhattan/near Broadway,private room,85 dollars,"Manhattan, Hell's Kitchen",Kate,2021-06-23
7,5803.0,"Lovely Room 1, Garden, Best Area, Legal rental",private room,89 dollars,"Brooklyn, South Slope",Laurie,2021-06-24
8,6021.0,Wonderful Guest Bedroom in Manhattan for SINGLES,private room,85 dollars,"Manhattan, Upper West Side",Claudio,2021-07-05
9,6848.0,Only 2 stops to Manhattan studio,entire home/apt,140 dollars,"Brooklyn, Williamsburg",Allen & Irina,2021-06-29

**EDA**

In [ ]:
df.dtypes

listing_id                  float64
description                  object
room_type                    object
price                        object
neighborhood_full            object
host_name                    object
last_review          datetime64[ns]
dtype: object

**Drop Columns 'Description','Host Name'**

In [ ]:
columns=['description','host_name']
df.drop(columns, axis=1, inplace=True)
df.head()

,listing_id,room_type,price,neighborhood_full,last_review
0,2595.0,entire home/apt,225 dollars,"Manhattan, Midtown",2021-05-21
1,3831.0,entire home/apt,89 dollars,"Brooklyn, Clinton Hill",2021-07-05
2,5099.0,entire home/apt,200 dollars,"Manhattan, Murray Hill",2021-06-22
3,5178.0,private room,79 dollars,"Manhattan, Hell's Kitchen",2021-06-24
4,5238.0,entire home/apt,150 dollars,"Manhattan, Chinatown",2021-06-09

Menghapus dollars pada kolam price

In [ ]:
df['price']=df['price'].str.replace('dollars','')

**Mengkonversi Typedata kolom Price ke float**

In [ ]:
df['price']=df['price'].astype(float)
df.head(5)

   listing_id        room_type  price          neighborhood_full last_review
0      2595.0  entire home/apt  225.0         Manhattan, Midtown  2021-05-21
1      3831.0  entire home/apt   89.0     Brooklyn, Clinton Hill  2021-07-05
2      5099.0  entire home/apt  200.0     Manhattan, Murray Hill  2021-06-22
3      5178.0     private room   79.0  Manhattan, Hell's Kitchen  2021-06-24
4      5238.0  entire home/apt  150.0       Manhattan, Chinatown  2021-06-09

**Melihat jumlah kolom yang bernilai kosong**

In [ ]:
df.isnull().sum()

listing_id           0
room_type            0
price                0
neighborhood_full    0
last_review          0
dtype: int64

**Split and Replace Neighborhood**

In [ ]:
df[['borough','neighborhood']] = df['neighborhood_full'].str.split(', ',n=1,expand=True)
df.drop('neighborhood_full',axis=1, inplace=True)
df.head(5)

   listing_id        room_type  price last_review    borough    neighborhood
0      2595.0  entire home/apt  225.0  2021-05-21  Manhattan         Midtown
1      3831.0  entire home/apt   89.0  2021-07-05   Brooklyn    Clinton Hill
2      5099.0  entire home/apt  200.0  2021-06-22  Manhattan     Murray Hill
3      5178.0     private room   79.0  2021-06-24  Manhattan  Hell's Kitchen
4      5238.0  entire home/apt  150.0  2021-06-09  Manhattan       Chinatown

In [ ]:
df['price'].describe()

count    24999.000000
mean       141.891516
std        147.636409
min          0.000000
25%         69.000000
50%        105.000000
75%        175.000000
max       7500.000000
Name: price, dtype: float64

In [ ]:
df.describe(include='O')

              room_type   borough        neighborhood
count             24999     24999               24999
unique                3         5                 217
top     entire home/apt  Brooklyn  Bedford-Stuyvesant
freq              13173     10383                2195

In [ ]:
df['price']=df['price'].replace(0,np.nan)
df.isnull().sum()

listing_id      0
room_type       0
price           7
last_review     0
borough         0
neighborhood    0
dtype: int64

In [ ]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24992 entries, 0 to 24998
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   listing_id    24992 non-null  float64
 1   room_type     24992 non-null  object
 2   price         24992 non-null  float64
 3   last_review   24992 non-null  datetime64[ns]
 4   borough       24992 non-null  object
 5   neighborhood  24992 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 1.3+ MB

In [ ]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1
lower_range = Q1 - (1.5 * IQR)
upper_range = Q3 + (1.5 * IQR)

In [ ]:
ot=df[(df['price'] < lower_range) | (df['price'] > upper_range)].index
ot.value_counts()

78       1
19732    1
19715    1
19710    1
19703    1
        ..
10640    1
10625    1
10618    1
10610    1
24993    1
Length: 1318, dtype: int64

Visulasasi Data : [link text](https://datastudio.google.com/s/uPbA0aD08_g) ( Data Studio )

**Export Dataset to Gdrive**

In [ ]:
#df.to_excel('AirBnB.xlsx', index=False)
#files.download('AirBnB.xlsx')
df.to_csv("/content/drive/My Drive/Dataset/NYC_AirBnB_Clear.csv", index=None)