<a href="https://colab.research.google.com/github/inggolanda/Gallery_Data_Analyst_Project/blob/main/TEDTalk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Info

Explore the dataset 

<br>- cek kolom types
<br>- cek data duplikat
<br>- cek mising value
<br>- cek spasi di akhir atau ganda
<br>- memecah kolom "date" menjadi kolom "year" and "month"
# Exploration and Visualization
<br>- topik pertahun
<br>- Views per year
<br>- pembicara dengan topik tertinggi pertahun 
<br>- Pembicara dengan total penayangan tertinggi per tahun
<br>- Pembicara paling menarik (Mean)
<br>- Pembicara yang paling disukai (sum)
<br>- Pembicara yang paling disukai (mean)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/My Drive/Dataset/TedTalk.csv")
df.head(5)

,title,author,date,views,likes,link
0,Climate action needs new frontline leadership,Ozawa Bineshi Albert,December 2021,404000,12000,https://ted.com/talks/ozawa_bineshi_albert_cli...
1,The dark history of the overthrow of Hawaii,Sydney Iaukea,February 2022,214000,6400,https://ted.com/talks/sydney_iaukea_the_dark_h...
2,How play can spark new ideas for your business,Martin Reeves,September 2021,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...
3,Why is China appointing judges to combat clima...,James K. Thornton,October 2021,427000,12000,https://ted.com/talks/james_k_thornton_why_is_...
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,October 2021,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...

In [ ]:
data=df.copy()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5440 entries, 0 to 5439
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   5440 non-null   object
 1   author  5439 non-null   object
 2   date    5440 non-null   object
 3   views   5440 non-null   int64
 4   likes   5440 non-null   int64
 5   link    5440 non-null   object
dtypes: int64(2), object(4)
memory usage: 255.1+ KB

In [ ]:
data['link'].duplicated().any()

False

In [ ]:
data.isnull().sum()

title     0
author    1
date      0
views     0
likes     0
link      0
dtype: int64

In [ ]:
data[data.isnull().any(axis=1)]

,title,author,date,views,likes,link
3039,Year In Ideas 2015,NaN,December 2015,532,15,https://ted.com/talks/year_in_ideas_2015

In [ ]:
data.loc[data['author']=='TED']

,title,author,date,views,likes,link
155,Countdown Global Livestream 2021,TED,October 2021,6100000,183000,https://ted.com/talks/ted_countdown_global_liv...
623,Countdown Global Launch 2020,TED,October 2020,113000,3300,https://ted.com/talks/ted_countdown_global_lau...

In [ ]:
data.at[3039,'author'] = 'TED'

In [ ]:
for series in data:
    for value in data[series]:
        if type(value) is not str:
          break
        if value[0] == " ":
          print(value)
        if value[-1] == " ":
          print(value)
        if value.count('  ')>=1:
          print(value)

 A different understanding of American patriotism
Can you solve the human cannonball riddle?
3 tips for leaders to get the future of work right
What makes a friendship last?
The rise and fall of the Lakota Empire
The informal settlements reshaping the world
 US politics isn't broken. It's fixed
5 steps to designing the life you want
How to avoid catching prickly emotions from other people
6 essential lessons for women leaders
6 big ethical questions about the future of AI
What Saturn's most mysterious moon could teach us about the origins of life
How to outsmart the Prisoner's Dilemma
A call to end the media coverage mass shooters want
What happened when the United States tried to ban alcohol
The economic benefits of climate action
The legend of Annapurna, Hindu goddess of nourishment
Epic Engineering: Building the Brooklyn Bridge
Why "biofabrication" is the next industrial revolution
Why "biofabrication" is the next industrial revolution
 How to change your behavior for the better
 What obligation do social media platforms have to the greater good?
Why archaeology needs to transcend borders
What causes an economic recession?
The secret student resistance to Hitler
The myth of Jason and the Argonauts
When do kids start to care about other people's opinions?
How sharks could inspire a new generation of medical devices
How to get back up after you fall — from an Olympic gymnast
How to spot a pyramid scheme
The life cycle of a neutron star
Three ways the universe could end
Will there ever be a mile-high skyscraper?
Everyday sexism
We need to rethink casual sex
The power of appreciation
What should electric cars sound like?
 How math is our real sixth sense
From slave to rebel gladiator: The life of Spartacus
 A brie(f) history of cheese
Why should you read "A Midsummer Night's Dream?"
Why should you read Kurt Vonnegut?
Can you solve the giant iron riddle?
Who decides what art means?
The fascinating history of cemeteries
The princess who rewrote history
What would happen if every human suddenly disappeared?
 How I'm using LEGO to teach Arabic
 Duelo por la muerte del padre
Un ejército de mujeres
This computer is learning to read your mind
Why we should end animal agriculture
 Do you really know why you do what you do?
The complex path to sustainability
The big data behind complex human emotions
A business against racism
We are not mud
How to trick yourself into good behavior
The world's first AI legal assistant
 Inside Africa's thriving art scene
How a child's mess could help you rediscover your creativity
Small ways women can support each other at work
How artists can (finally) get paid in the digital age
How to design a library that makes kids want to read
The dark and delicate rumble of Russian piano music
Interconnectivity: the new structure of the world economy
In defense of extroverts
Creating music on the go
 How CRISPR lets us edit our DNA
Reinventing creative thinking
A solution for building a generation of inventors
How do you know you exist?
What I discovered in New York City  trash
Why are blue whales so enormous?
The  4 a.m. mystery
 Belle and Sebastian
 Let It Happen
 Kaz
 Countdown
 Joan As Police Woman
 Kimberose
 Lizzo
 TED-Ed
 TED-Ed
 TED-Ed
 TED-Ed
 TED-Ed
 TED-Ed
 TED-Ed
 Kesha
 Sigrid
 Shawnee
 Lucius
 Beautyrest
 OK Go
 Butterscotch
 Morley
 First Aid Kit
 The Bloom Twins
 Climbing PoeTree
 Resistance Revival Chorus
 Flor de Toloache
 Crush Club
 LADAMA
 Deutsche Philharmonie Merck
 Yelle
 JR
 Sauti Sol
 Rei
 IN-Q
 The Ferocious Few
 Wobbly World
 WOLF
 Sofi Tukker
 OK Go
 Silk Road Ensemble
 Rodrigo y Gabriela
 MaJiKer
 B.E.A.T. NYC
Ellen  Gustafson
Rory  Bremner
Becky  Blanton

In [ ]:
while True:
    lock = False
    for series in data:
        for value in data[series]:
            if type(value) is not str:
                break
            if value[0] == " ":
                lock = True
                data.at[data.index[data[series] == value].tolist()[0], series] = value[1:]
                value = value[1:]
            if value.count('  ') >= 1:
                lock = True
                data.at[data.index[data[series] == value].tolist()[0], series] = value.replace("  ", " ")
                value = value.replace("  ", " ")
            if value[-1] == " ":
                lock = True
                data.at[data.index[data[series] == value].tolist()[0], series] = value[:-1]
                value = value[:-1]
    if lock == False:
        break

In [ ]:
data['month']=pd.to_datetime(data['date'], format="%B %Y").dt.month_name()
data['year']=pd.to_datetime(data['date'], format="%B %Y").dt.year
data.drop('date',axis=1)

,title,author,views,likes,link,month,year
0,Climate action needs new frontline leadership,Ozawa Bineshi Albert,404000,12000,https://ted.com/talks/ozawa_bineshi_albert_cli...,December,2021
1,The dark history of the overthrow of Hawaii,Sydney Iaukea,214000,6400,https://ted.com/talks/sydney_iaukea_the_dark_h...,February,2022
2,How play can spark new ideas for your business,Martin Reeves,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...,September,2021
3,Why is China appointing judges to combat clima...,James K. Thornton,427000,12000,https://ted.com/talks/james_k_thornton_why_is_...,October,2021
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...,October,2021
...,...,...,...,...,...,...,...
5435,The best stats you've ever seen,Hans Rosling,15000000,458000,https://ted.com/talks/hans_rosling_the_best_st...,February,2006
5436,Do schools kill creativity?,Sir Ken Robinson,72000000,2100000,https://ted.com/talks/sir_ken_robinson_do_scho...,February,2006
5437,Greening the ghetto,Majora Carter,2900000,88000,https://ted.com/talks/majora_carter_greening_t...,February,2006
5438,Simplicity sells,David Pogue,2000000,60000,https://ted.com/talks/david_pogue_simplicity_s...,February,2006
5439,Averting the climate crisis,Al Gore,3600000,109000,https://ted.com/talks/al_gore_averting_the_cli...,February,2006